.btn--readmore {
  display: inline-flex;
  align-items: baseline;
  color: $brand-inverse;
  font-family: $font-medium;
  font-size: 15px;
  &.arrow--left {
    flex-direction: row-reverse;
    i {
      margin-left: 1px;
      margin-right: 4px;
      &:before {
        transform: rotate(135deg);
      }
    }
  }
  i {
    position: relative;
    width: 7px;
    margin-left: 4px;
    &:before {
      content: "";
      display: inline-block;
      width: 6px;
      height: 6px;
      margin-bottom: 1px;
      border-bottom: 2px solid currentColor;
      border-right: 2px solid currentColor;
      transform: rotate(-45deg);
    }
  }
}

.btn--link {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 3;
}

.btn--burger {
  .btn--burger--inner {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
  }
  .btn--burger--bar {
    width: 36px;
    height: 3px;
    transform: translateZ(0);
    transition: opacity .55s .3s;
    background: #eab05e;
    display: block;
    &:nth-of-type(2) {
      margin: 6px 0;
    }
  }
}

.slick-lightbox-close.btn--burger {
  width: 60px;
  height: 60px;
  @include media-breakpoint-up(lg) {
    width: 100px;
    height: 100px;
  }
  .btn--burger--inner {
    position: absolute;
    @include center(xy);
    width: 18px;
    height: 18px;
    @include media-breakpoint-up(lg) {
      width: 40px;
      height: 40px;
    }
  }
  .btn--burger--bar {
    width: 100%;
    height: 2px;
    &:nth-of-type(1),
    &:nth-of-type(2) {
      position: absolute;
      @include center(xy);
      transform-origin: 50% 50%;
      margin: 0;
    }
    &:nth-of-type(1) {
      transform: translate(-50%, -50%) rotate(45deg) translateZ(0);
    }
    &:nth-of-type(2) {
      transform: translate(-50%, -50%) rotate(-45deg) translateZ(0);
    }
  }
}